div {
    width: 350px;
    height: 200px;
}

.overlay {
    background-image: url(./img/nature-15.png);
    background-color: #777;
    background-blend-mode: multiply;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    color: white;
}

.overlay:hover {
    background-color: red;
}