* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.square {
    width: 250px;
    height: 250px;
}

.yellow {
    background-color: yellow;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blue {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
}

.green {
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
}